.container {
  box-shadow: 2px 5px 5px gray;
  padding: 10px;
}

.todoHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
//
h3 {
  margin: 0;
  padding: 0;
}
//
.btnsContainer {
  margin-top: 10px;
}
//
//.chosenButton {
//  background-color: aqua;
//}