.header {
  display: grid;
  position: relative;
  grid-template-columns: 32px 1fr 32px;
  align-items: center;
  padding: 4px 8px;
  text-align: center;
}

h2 {
  display: block;
  position: relative;
  grid-column: 1 / span 3;
  grid-row: 1;
  height: 40px;
  margin: 0;
  padding: 0 32px;
  overflow: hidden;
  color: #44546f;
  font-size: 14px;
  font-weight: 600;
  line-height: 40px;
  text-overflow: ellipsis;
  white-space: nowrap;
}